.header {}

.header .hd_box {

    border-bottom: 1px solid #f1f1f1;
}

.header .hd_box>ul {
    display: flex;

    height: 23px;
    align-items: center;
    justify-content: flex-end;
    max-width: 1170px;
    margin: 0 auto;
}

.header .hd_box>ul>li>a {
    display: block;
    line-height: 23px;
    font-size: 12px;
    padding: 0 8px;

}

.header .hd_box>ul>li~li>a {
    border-left: 1px solid #ddd;
}

.header .hd_box>ul>li~li~li>a {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.header .hd_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 79px;
    border-bottom: 1px solid #f1f1f1;
}

.header h1 img {
    height: 32px;
}

.header .gnb {}

.header .gnb>ul {
    display: flex;
    gap: 64px;
}

.header .gnb>ul>li {
    position: relative;
}


.header .gnb>ul>li>a {
    display: block;
    font-weight: 600;
    line-height: 79px;
}

.header .gnb>ul>li ul {
    position: absolute;
    top: 72px;
    left: 50%;
    transform: translate(-50%, 0);
    background: #fff;

    border: 1px solid #ddd;
    border-radius: 8px;
    z-index: 999;

    opacity: 0;
    visibility: hidden;

    transition: 0.4s;
    overflow: hidden;
}

.header .gnb>ul>li ul li:hover {
    background: #04ade6;
    color: #fff;
}

.header .gnb>ul>li:hover ul {
    opacity: 1;
    visibility: visible;
}


.header .gnb>ul>li ul li a {
    display: block;
    line-height: 48px;
    padding: 0px 16px;
    text-align: center;
    white-space: nowrap;
    font-size: 14px;
}

.header .gnb>ul>li ul li~li a {
    border-top: 1px solid #ddd;
}


.header .utils {}

.header .utils>ul {
    display: flex;
    gap: 24px;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
}

.header .mbtn {
    display: none;
}

@media (max-width: 768px) {
    .header {}

    .header .hd_box {

        border-bottom: 1px solid #f1f1f1;
    }

    .header .hd_box>ul {
        display: flex;

        height: 23px;
        align-items: center;
        justify-content: flex-end;
        max-width: 1170px;
        margin: 0 auto;
        /*  */
        display: none;
    }

    .header .hd_box>ul>li>a {
        display: block;
        line-height: 23px;
        font-size: 12px;
        padding: 0 8px;

    }

    .header .hd_box>ul>li~li>a {
        border-left: 1px solid #ddd;
    }

    .header .hd_box>ul>li~li~li>a {
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
    }

    .header .hd_wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 79px;
        border-bottom: 1px solid #f1f1f1;
    }

    .header h1 img {
        height: 32px;
        margin: 0 16px;
    }

    .header .gnb {
        position: fixed;
        top: 0;
        left: -100%;
        width: calc(100% - 80px);
        height: 100vh;
        z-index: 555;
        background: #fff;
        padding: 120px 24px 0 24px;
        border-right: 1px solid #ddd;

        transition: 0.4s;
    }

    .header .gnb.on {
        left: 0;
    }

    .header .gnb>ul {
        display: flex;
        gap: 64px;
        /*  */
        flex-direction: column;
        gap: 0;
    }

    .header .gnb>ul>li {
        position: relative;
    }


    .header .gnb>ul>li>a {
        display: block;
        font-weight: 600;
        line-height: 79px;
        white-space: nowrap;
        /*  */
        line-height: 40px;
        border-bottom: 1px solid #ddd;
    }

    .header .gnb>ul>li ul {
        position: absolute;
        top: 72px;
        left: 50%;
        transform: translate(-50%, 0);
        background: #fff;

        border: 1px solid #ddd;
        border-radius: 8px;
        z-index: 999;

        opacity: 0;
        visibility: hidden;

        transition: 0.4s;
        overflow: hidden;
        /*  */
        border-radius: 0;
        position: static;
        transform: translate(0, 0);
        opacity: 1;
        visibility: visible;

        display: none;
        transition: none;
    }

    .header .gnb>ul>li ul li:hover {
        background: #04ade6;
        color: #fff;
    }

    .header .gnb>ul>li:hover ul {
        opacity: 1;
        visibility: visible;
        /*  */
        display: none;
        opacity: 1;
        visibility: visible;
    }


    .header .gnb>ul>li ul li a {
        display: block;
        line-height: 48px;
        padding: 0px 16px;
        text-align: center;
        white-space: nowrap;
        font-size: 14px;
        /*  */

    }



    .header .gnb>ul>li ul li~li a {
        border-top: 1px solid #ddd;
        /*  */


    }


    .header .utils {
        display: none;
    }

    .header .utils>ul {
        display: flex;
        gap: 24px;
        align-items: center;
        font-size: 14px;
        font-weight: 600;
        /*  */
        position: absolute;
    }

    .header .mbtn {
        display: none;
        /*  */
        display: block;
        position: fixed;
        right: 16px;
        top: 24px;
        z-index: 3;
        background: #fff;
    }

    .header button {
        width: 32px;
        height: 32px;
        border: 1px solid #ddd;
    }
}

/* 메인비주얼 */

.main_visual {
    padding: 24px 0 0 0;


}

.main_visual .main_visual_slide .itm {
    position: relative;

}

.main_visual .main_visual_slide .itm01::before {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    z-index: 2;
    background: linear-gradient(to right, transparent 60%, rgba(0, 0, 0, 0.5) 100%);
    border-radius: 16px;
}

.main_visual .main_visual_slide .itm02::before {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    z-index: 2;
    background: linear-gradient(to right, transparent 60%, rgba(0, 0, 0, 0.5) 100%);
    border-radius: 16px;
}

.main_visual .main_visual_slide .itm01 .txt_box {
    position: absolute;
    top: 50%;
    right: 32px;
    transform: translate(0, -50%);
    z-index: 3;
    text-align: right;
}

.main_visual .main_visual_slide .itm02 .txt_box {
    position: absolute;
    top: 50%;
    right: 32px;
    transform: translate(0, -50%);
    z-index: 3;
    text-align: right;
}

.main_visual .main_visual_slide .itm03 .txt_box {
    position: absolute;
    top: 50%;
    right: 32px;
    transform: translate(0, -50%);
    z-index: 3;
    text-align: right;
}

.main_visual .main_visual_slide .itm04 .txt_box {
    position: absolute;
    top: 50%;
    right: 32px;
    transform: translate(0, -50%);
    z-index: 3;
    text-align: right;
}

.main_visual .main_visual_slide em {
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.main_visual .main_visual_slide .txt_box>ul {
    display: flex;
    gap: 16px;
    justify-content: flex-end;
    font-size: 12px;
    font-weight: 200;
    color: #fff;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    margin: 8px 0;
    text-transform: uppercase;
}

.main_visual .main_visual_slide .txt_box>ul>li {
    position: relative;
}

.main_visual .main_visual_slide .txt_box>ul>li~li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -8px;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: #fff;
}

.main_visual .main_visual_slide p {
    font-weight: 500;
    color: #fff;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.main_visual .main_visual_slide .page {
    position: absolute;
    bottom: 24px;
    right: 32px;
    z-index: 3;
    width: auto;
    left: auto;

}

.main_visual .main_visual_slide .page span {
    width: 12px;
    height: 12px;
    background: #fff356;
}

.main_visual .content {
    display: flex;
    gap: 16px;
    max-width: 1410px;
    margin: 0 auto 24px auto;
}

.main_visual .content .left {
    flex: 4;
    overflow: hidden;
}

.main_visual .content .right {
    flex: 1;
    padding: 24px 32px 24px 32px;
    background: #fafafa;
    border-radius: 16px;
    width: 350px;
}

.main_visual .content .right .look strong {
    display: block;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 24px;
}

.main_visual .content .right .look span {
    font-size: 14px;
    line-height: 1.5;
    font-weight: 500;
    opacity: 0.5;
}

.main_visual .main_visual_slide .itm figure img {
    width: 1074px;
    height: 450px;
    border-radius: 16px;
    overflow: hidden;
}

.main_visual .num {
    display: flex;
    gap: 8px;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
    font-size: 14px;
}

.main_visual .num input {
    flex: 1;
    border: 1px solid #ddd;
    padding: 8px 8px;
    border-radius: 4px;

}

.main_visual .num input::placeholder {
    font-size: 12px;
    font-weight: 600;
}

.main_visual .num input:focus::placeholder {
    opacity: 0;
    border: 1px solid #ddd;
}

.main_visual .num button {
    font-size: 12px;
    padding: 8px 16px;
    background: #007da5;
    white-space: nowrap;
    border-radius: 4px;
    color: #fff;
}

.main_visual .agree {
    font-size: 14px;
    margin-top: 24px;
}

.main_visual .agree a {
    display: inline-block;

    color: #1084f8;
    border-bottom: 1px solid #4e86ff;
    margin-top: 8px;
}

.main_visual .promise a {
    display: flex;
    justify-content: space-between;
    padding: 16px 16px;
    border: 1px solid #f1f1f1;
    background: #fff;
    margin-top: 32px;
    font-size: 14px;

}

.main_visual .promise a::after {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../images/chevron-right.svg);
}

.main_visual .promise .space {
    margin-top: 8px;
}

@media (max-width: 768px) {
    .main_visual {
        padding: 24px 0 0 0;


    }

    .main_visual .main_visual_slide .itm {
        position: relative;

    }

    .main_visual .main_visual_slide .itm01::before {
        content: "";
        position: absolute;
        inset: 0 0 0 0;
        z-index: 2;
        background: linear-gradient(to right transparent 20%, #04ade6 50%);
        border-radius: 16px;
        /*  */
        top: 0;
        left: auto;
        right: 0;
        width: 85%;
        background: #04ade6;
        border-radius: 0;
    }

    .main_visual .main_visual_slide .itm02::before {
        content: "";
        position: absolute;
        inset: 0 0 0 0;
        z-index: 2;
        background: linear-gradient(to right 20%, #04ade6 50%);
        border-radius: 16px;
        /*  */
        top: 0;
        left: auto;
        right: 0;
        width: 85%;
        background: #04ade6;
        border-radius: 0;
    }

    .main_visual .main_visual_slide .itm03::before {
        content: "";
        position: absolute;
        inset: 0 0 0 0;
        z-index: 2;
        background: linear-gradient(to right 20%, #04ade6 50%);
        border-radius: 16px;
        /*  */
        top: 0;
        left: auto;
        right: 0;
        width: 85%;
        background: #04ade6;
        border-radius: 0;
    }

    .main_visual .main_visual_slide .itm04::before {
        content: "";
        position: absolute;
        inset: 0 0 0 0;
        z-index: 2;
        background: linear-gradient(to right 20%, #04ade6 50%);
        border-radius: 16px;
        /*  */
        top: 0;
        left: auto;
        right: 0;
        width: 85%;
        background: #04ade6;
        border-radius: 0;
    }

    .main_visual .main_visual_slide .itm01 .txt_box {
        position: absolute;
        top: 50%;
        right: 32px;
        transform: translate(0, -50%);
        z-index: 3;
        text-align: right;
        /*  */

    }

    .main_visual .main_visual_slide .itm02 .txt_box {
        position: absolute;
        top: 50%;
        right: 32px;
        transform: translate(0, -50%);
        z-index: 3;
        text-align: right;
    }

    .main_visual .main_visual_slide .itm03 .txt_box {
        position: absolute;
        top: 50%;
        right: 32px;
        transform: translate(0, -50%);
        z-index: 3;
        text-align: right;
    }

    .main_visual .main_visual_slide .itm04 .txt_box {
        position: absolute;
        top: 50%;
        right: 32px;
        transform: translate(0, -50%);
        z-index: 3;
        text-align: right;
        /*  */

    }

    .main_visual .main_visual_slide em {
        font-size: 32px;
        font-weight: 700;
        color: #fff;
        text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    }

    .main_visual .main_visual_slide .txt_box>ul {
        display: flex;
        gap: 16px;
        justify-content: flex-end;
        font-size: 12px;
        font-weight: 200;
        color: #fff;
        text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
        margin: 8px 0;
        text-transform: uppercase;
    }

    .main_visual .main_visual_slide .txt_box>ul>li {
        position: relative;
    }

    .main_visual .main_visual_slide .txt_box>ul>li~li::before {
        content: "";
        position: absolute;
        top: 50%;
        left: -8px;
        width: 2px;
        height: 2px;
        border-radius: 50%;
        background: #fff;
    }

    .main_visual .main_visual_slide p {
        font-weight: 500;
        color: #fff;
        text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    }

    .main_visual .main_visual_slide .page {
        position: absolute;
        bottom: 24px;
        right: 32px;
        z-index: 3;
        width: auto;
        left: auto;

    }

    .main_visual .main_visual_slide .page span {
        width: 12px;
        height: 12px;
        background: #fff356;
    }

    .main_visual .content {
        display: flex;
        gap: 16px;
        max-width: 1410px;
        margin: 0 auto 24px auto;
        /*  */
        flex-direction: column;

    }

    .main_visual .content .left {
        flex: 4;
        overflow: hidden;
    }

    .main_visual .content .right {
        flex: 1;
        padding: 24px 32px 24px 32px;
        background: #fafafa;
        border-radius: 16px;
        width: 350px;
        /*  */
        margin: 0 16px;
        width: auto;
    }

    .main_visual .content .right .look strong {
        display: block;
        font-size: 24px;
        font-weight: 800;
        margin-bottom: 24px;
    }

    .main_visual .content .right .look span {
        font-size: 14px;
        line-height: 1.5;
        font-weight: 500;
        opacity: 0.5;
    }

    .main_visual .main_visual_slide .itm figure img {
        width: 1074px;
        height: 450px;
        border-radius: 0 0 0 64px;
        overflow: hidden;
        /*  */
        height: 320px;
    }

    .main_visual .num {
        display: flex;
        gap: 8px;
        justify-content: space-between;
        align-items: center;
        margin-top: 32px;
        font-size: 14px;
    }

    .main_visual .num input {
        flex: 1;
        border: 1px solid #ddd;
        padding: 8px 8px;
        border-radius: 4px;

    }

    .main_visual .num input::placeholder {
        font-size: 12px;
        font-weight: 600;
    }

    .main_visual .num input:focus::placeholder {
        opacity: 0;
        border: 1px solid #ddd;
    }

    .main_visual .num button {
        font-size: 12px;
        padding: 8px 16px;
        background: #007da5;
        white-space: nowrap;
        border-radius: 4px;
        color: #fff;
    }

    .main_visual .agree {
        font-size: 14px;
        margin-top: 24px;
    }

    .main_visual .agree a {
        display: inline-block;

        color: #1084f8;
        border-bottom: 1px solid #4e86ff;
        margin-top: 8px;
    }

    .main_visual .promise a {
        display: flex;
        justify-content: space-between;
        padding: 16px 16px;
        border: 1px solid #f1f1f1;
        background: #fff;
        margin-top: 32px;
        font-size: 14px;

    }

    .main_visual .promise a::after {
        content: "";
        display: inline-block;
        width: 16px;
        height: 16px;
        background: url(../images/chevron-right.svg);
    }

    .main_visual .promise .space {
        margin-top: 8px;
    }

}

/* 메인 멘트 */

.main_ment {}

.main_ment .inner {
    display: flex;
    gap: 30px;
    align-items: center;
    height: 64px;
    background: #f9f9f9;
    border-radius: 8px;
    padding: 0 0 0 24px;
}

.main_ment .ant {
    display: inline-block;
    color: #1084f8;
    white-space: nowrap;
}

.main_ment h3 {
    white-space: nowrap;
    font-size: 18px;
    font-weight: 600;
    color: #1084f8;
}

.main_ment .main_ment_slide {
    height: 32px;
    flex: 1;
}

.main_ment .main_ment_slide .itm {
    height: 32px;
}

.main_ment .main_ment_slide .txt_box {}

.main_ment .main_ment_slide .txt_box a {
    display: flex;
    justify-content: space-between;
    border: 1px solid #ddd;
    background: #fff;
    padding: 8px 8px;
    border-radius: 8px;
    font-size: 14px;
}

.main_ment .arrows {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.main_ment .arrows button {

    width: 32px;
    height: 32px;
    border: 1px solid #ddd;
    margin-left: auto;
    background: #fff;
}

@media (max-width: 768px) {
    .main_ment {
        position: relative;
    }

    .main_ment .inner {
        display: flex;
        gap: 30px;
        align-items: center;
        height: 64px;
        background: #f9f9f9;
        border-radius: 8px;
        padding: 0 0 0 24px;
        /*  */
        flex-direction: column;
        display: block;
        height: 160px;
        padding: 24px;
        margin: 0 16px;
        border-radius: 8px;
    }

    .main_ment .ant {
        display: inline-block;
        color: #1084f8;
        white-space: nowrap;
        padding: 24px 0;
    }

    .main_ment h3 {
        white-space: nowrap;
        font-size: 18px;
        font-weight: 600;
        color: #1084f8;
        margin-bottom: 16px;
    }


    .main_ment .main_ment_slide {
        height: 32px;
        flex: 1;
    }

    .main_ment .main_ment_slide .itm {
        height: 32px;
    }

    .main_ment .main_ment_slide .txt_box strong {

        white-space: nowrap;
    }

    .main_ment .main_ment_slide .txt_box {}

    .main_ment .main_ment_slide .txt_box a {
        display: flex;
        justify-content: space-between;
        border: 1px solid #ddd;
        background: #fff;
        padding: 8px 8px;
        border-radius: 8px;
        font-size: 14px;

    }

    .main_ment .arrows {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /*  */
        position: absolute;
        display: block;
        top: 16px;
        right: 40px;
        z-index: 2;
    }

    .main_ment .arrows button {

        width: 32px;
        height: 32px;
        border: 1px solid #ddd;
        margin-left: auto;
        background: #fff;
    }
}

/* 메인 필드 */

.main_field {
    padding: 40px 0;
}

.main_field .inner {
    display: flex;
}

.main_field .inner .left {
    flex: 1;
}

.main_field .inner .left img {
    height: 32px;
    margin-bottom: 24px;
}

.main_field .inner .left h2 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    color: #737170;
    margin-bottom: 32px;
}

.main_field .inner .left a {
    display: inline-block;
    padding: 8px 24px;
    border: 1px solid #737170;
}


.main_field .inner .right {
    flex: 4;
}

.main_field .inner .right .search {
    display: flex;

    align-items: center;
    justify-content: space-between;
    padding: 8px 8px 8px 24px;
    background: #f9f9f9;
    height: 48px;
    border-radius: 8px;
}

.main_field .search input {
    flex: 1;
    margin-left: 32px;
}

.main_field .search input::placeholder {
    font-size: 12px;
    font-weight: 400;
    padding: 8px 16px;

}

.main_field .search input:focus::placeholder {
    opacity: 0;
    border: 1px solid #ddd;

}

.main_field .search button {
    margin-left: 8px;
    border: 1px solid #ddd;
    border-radius: px;
    padding: 4px 8px;
}

.main_field .right .list {
    margin: 32px 0;
}

.main_field .right .list h3 {
    display: inline-block;
    padding: 16px 56px;
    background: #969696;
    color: #fff;
}

.main_field .right .list_box>ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 8px;
}

.main_field .right .list_box>ul>li {
    border: 1px solid #ddd;
    background: #f7f7f7;
    text-align: center;
}

.main_field .right .list_box>ul>li>a {
    display: inline-block;
    padding: 24px 32px;
}

.main_field .right .list_box>ul>li:hover {
    background: #fff;
}

/* 메인 노티스 */

.main_notice {
    background: #f1f1f1;
    padding: 40px 0;

}

.main_notice .inner {
    display: flex;
    gap: 40px;



}

.main_notice .inner>* {
    flex: 1;
}

.main_notice img {
    height: 24px;
}

.main_notice h3 {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 24px;
    font-weight: 700;
}

.main_notice .one {
    padding: 40px 40px;
    background: #fff;
    border-radius: 8px;
}

.main_notice .one .one_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    margin-bottom: 32px;
}

.main_notice .one_box .ant {
    border: none;
    padding: 0;
    font-size: 14px;
}

.main_notice .one .one_box02 a {
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
    border: 1px solid #ddd;
    margin-top: 8px;
}

.main_notice .one .one_box02 a::after {
    content: "";
    display: flex;

    width: 16px;
    height: 16px;
    background: url(../images/chevron-right.svg);

}

.main_notice .one .one_box03 {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-top: 40px;
}

.main_notice .one .one_box03 span {
    font-size: 20px;
    white-space: nowrap;
}

.main_notice .one .one_box03 a {
    flex: 1;
    font-size: 14px;
    padding: 8px 24px;
    border: 1px solid #ddd;
    white-space: nowrap;
}

.main_notice .two {
    padding: 40px 40px;
    background: #fff;
    border-radius: 8px;
}

.main_notice .two .center {
    position: relative;
    text-align: center;
}

.main_notice .two p {

    margin: 24px 0;
}

.main_notice .two .plus {
    display: inline-block;


    padding: 8px 32px;
    border: 1px solid #c4c4c4;

}

.main_notice .two .plus::after {
    content: "";
    position: absolute;
    bottom: -48px;
    right: 0;
    left: 0;
    height: 1px;
    background: #ddd;
}

.main_notice .two strong {
    display: block;
    font-size: 20px;
    margin-top: 80px;
}

.main_notice .two .bottom {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 16px;
}

.main_notice .two .bottom a {
    flex: 1;
    font-size: 14px;
    padding: 8px 8px;
    color: #fff;
    background: #1084f8;
    border-radius: 8px;
    white-space: nowrap;
}

.main_notice .three {
    padding: 40px 40px;
    background: #fff;
    border-radius: 8px;
}

.main_notice .three .last_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main_notice .three .gpt {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: space-between;
    margin-top: 24px;
}



.main_notice .three .gpt a::before {
    content: "";
    display: inline-block;
    top: 50%;
    left: -16px;
    width: 6px;
    height: 2px;
    transform: translate(0, -50%);
    background: #1084f8;
    margin-right: 8px;
}

.main_notice .three .gpt a {
    position: relative;
    display: flex;

    align-items: center;
    text-align: center;

    white-space: nowrap;
    line-height: 40px;
    border-bottom: 1px solid #f1f1f1;

}

.main_notice .three .gpt strong {
    font-size: 14px;
    margin: 0 8px 0 0;

    color: #4e86ff;
}

.main_notice .three .gpt p {
    width: 120px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.main_notice .three .gpt span {
    font-size: 12px;
    margin-left: auto;
}

@media (max-width: 768px) {
    .main_notice {
        background: #f1f1f1;
        padding: 40px 0;

    }

    .main_notice .inner {
        display: flex;
        gap: 40px;
        /*  */
        flex-direction: column;
        gap: 16px;
        margin: 0 16px;

    }

    .main_notice .inner>* {
        flex: 1;

    }

    .main_notice img {
        height: 24px;
    }

    .main_notice h3 {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 24px;
        font-weight: 700;
    }

    .main_notice .one {
        padding: 40px 40px;
        background: #fff;
        border-radius: 8px;
        /*  */
    }

    .main_notice .one .one_box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: none;
        margin-bottom: 32px;
    }

    .main_notice .one_box .ant {
        border: none;
        padding: 0;
        font-size: 14px;
    }

    .main_notice .one .one_box02 a {
        display: flex;
        justify-content: space-between;
        padding: 16px 24px;
        border: 1px solid #ddd;
        margin-top: 8px;
        word-break: keep-all;
    }

    .main_notice .one .one_box02 a::after {
        content: "";
        display: flex;

        width: 16px;
        height: 16px;
        background: url(../images/chevron-right.svg);

    }

    .main_notice .one .one_box03 {
        display: flex;
        align-items: center;
        gap: 32px;
        margin-top: 40px;

    }

    .main_notice .one .one_box03 span {
        font-size: 20px;
        white-space: nowrap;
    }

    .main_notice .one .one_box03 a {
        flex: 1;

        font-size: 14px;
        padding: 8px 24px;
        border: 1px solid #ddd;
        white-space: normal;
        word-break: keep-all;
    }

    .main_notice .two {
        padding: 40px 40px;
        background: #fff;
        border-radius: 8px;
    }

    .main_notice .two .center {
        position: relative;
        text-align: center;
    }

    .main_notice .two p {

        margin: 24px 0;
    }

    .main_notice .two .plus {
        display: inline-block;


        padding: 8px 32px;
        border: 1px solid #c4c4c4;

    }

    .main_notice .two .plus::after {
        content: "";
        position: absolute;
        bottom: -48px;
        right: 0;
        left: 0;
        height: 1px;
        background: #ddd;
    }

    .main_notice .two strong {
        display: block;
        font-size: 20px;
        margin-top: 80px;
    }

    .main_notice .two .bottom {
        display: flex;
        gap: 8px;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 16px;
    }

    .main_notice .two .bottom a {
        flex: 1;
        font-size: 14px;
        padding: 8px 8px;
        color: #fff;
        background: #1084f8;
        border-radius: 8px;
        white-space: nowrap;
    }

    .main_notice .three {
        padding: 40px 40px;
        background: #fff;
        border-radius: 8px;
    }

    .main_notice .three .last_box {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .main_notice .three .gpt {
        display: flex;
        flex-direction: column;
        gap: 16px;
        justify-content: space-between;
        margin-top: 24px;
    }



    .main_notice .three .gpt a::before {
        content: "";
        display: inline-block;
        top: 50%;
        left: -16px;
        width: 6px;
        height: 2px;
        transform: translate(0, -50%);
        background: #1084f8;
        margin-right: 8px;
    }

    .main_notice .three .gpt a {
        position: relative;
        display: flex;

        align-items: center;
        text-align: center;

        white-space: nowrap;
        line-height: 40px;
        border-bottom: 1px solid #f1f1f1;

    }

    .main_notice .three .gpt strong {
        font-size: 14px;
        margin: 0 8px 0 0;

        color: #4e86ff;
    }

    .main_notice .three .gpt p {
        width: 120px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .main_notice .three .gpt span {
        font-size: 12px;
        margin-left: auto;
    }
}

/* 메인 뉴스 */

.main_map {
    padding: 40px 0;
}

.main_map .inner {
    display: flex;
    gap: 24px;
}

.main_map .left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main_map .left img {
    height: 40px;
    margin-bottom: 16px;
}

.main_map .left h2 {
    font-size: 24px;
    font-weight: 700;
    color: #4e86ff;
    margin-bottom: 8px;
}

.main_map .left .call {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    border: 1px solid #f2f2f2;
    margin-top: 8px;

    flex: 1;
}

.main_map .left .call strong {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
}

.main_map .left .call span {
    font-size: 20px;
    font-weight: 600;
    color: #4e86ff;
    margin-bottom: 16px;
}

.main_map .go_box {
    margin-top: 16px;
}

.main_map .go_box a {
    display: flex;
    justify-content: space-between;
    padding: 16px 16px;
    border: 1px solid #f1f1f1;
    background: #fff;
    margin-top: 8px;


}

.main_map .go_box a::after {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../images/chevron-right.svg);
}

.main_map .right {
    flex: 3;

}

.main_map .right .map_box {
    width: 100%;
}

.main_map .right .map_box .wrap_map {
    height: 400px;
}

.main_map .right .map_box .wrap_controllers {
    display: none;
}

.main_map .right .map_box .cont {
    display: none;
}

.main_map .right .map_box .root_daum_roughmap {
    width: 100%;
}

/* 푸터 */

.footer {
    padding: 40px 0;
    background: #444;
}

.footer .customer>ul {
    display: flex;
    gap: 40px;
    font-size: 14px;
    color: #fff;
    margin-bottom: 24px;
}

.footer .customer>ul>li {
    position: relative;
}

.footer .customer>ul>li~li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translate(0, -50%);
    width: 1px;
    height: 0.5em;
    background: #ddd;

}

.footer .info>ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #fff;
    margin-bottom: 24px;
}

.footer address {
    font-size: 12px;
    color: #fff;
    opacity: 0.5;
}

.footer .ant {
    font-weight: 600;
    color: #fef327;
}

.footer span {
    color: #fef327;
}